.mfp-bg {
	background: #2b2b2b;
	opacity: .97;
}

@include desktop_view {
	.mfp-content{
		width: 55%;
		top: -10%;
	}
	.mfp-bottom-bar {
		padding: 2rem;
	}
}

.mfp-figure {
	figure {
		margin: 0 !important;
	}
}